{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="author" content="Jason Michels">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ .Cdn }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Cdn }}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ .Cdn }}/css/global.css">

    <script type="text/javascript" src="{{ .Cdn }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ .Cdn }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ .Cdn }}/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script type="text/javascript" src="{{ .Cdn }}/bower_components/respond-minmax/dest/respond.min.js"></script>
    <![endif]-->

    
</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">

    {{ template "topnav" . }}

    <!-- Begin page content -->
    <div class="container">        
        {{ template "content" . }}
    </div>

</div>

    {{ template "footer" . }}

</body>
</html>
{{ end }}