{{ define "topnav" }}
<div class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Out Of Office</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Contact Us</a></li>                
            </ul>

            <ul class="nav navbar-nav navbar-right">
            	<li><a href="#"><span class="glyphicon glyphicon-upload"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>

</div>
{{ end }}